<h3>My Posts</h3>
<ul>
  <% @posts.each do |post| %>
    <li>
      <%=link_to post.title ,post_path(post)%>
    </li>
  <% end %>
</ul>

<%=link_to "Add Post", new_post_path%>
<br>
<%=link_to "Home", root_path%>
